[BUG]: /Phalcon/Http/Message/Uri should not rawurlencode query values in withQuery method

**Is your feature request related to a problem? Please describe.**
I use a http library called httplug, which is a good http library.
I urlencode my querystring values and send it to `Uri->withQuery` when I start to send a Get request as usual, then I found the server side Couldn't get the value correctly. It may me confuse, and then I went to see Uri source code, I found that this class method withQuery use raw urlencode again.

I think we should let developers worry about urlencode or not.

In my habit, when I see this method `withQuery` and must a string argument, it should be already urlencode.

For example, if this method defines like `appendQuery(string $name, string $value)`, then we should not pass a  urlencoded value.

**Describe the solution you'd like**
Just pass it like a raw string

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

it's just a suggest, :-)


@kenxx 

Thank you for the suggestion. 

I am not convinced that we need to change that. I looked the specification and it states:

> If no query string is present, this method MUST return an empty string.
> 
> The leading "?" character is not part of the query and MUST NOT be
> added.
>
> The value returned MUST be percent-encoded, but MUST NOT double-encode
> any characters. To determine what characters to encode, please refer to
> RFC 3986, Sections 2 and 3.4.
>
> As an example, if a value in a key/value pair of the query string should
> include an ampersand ("&") not intended as a delimiter between values,
> that value MUST be passed in encoded form (e.g., "%26") to the instance.

So from what I understand on this, especially the last paragraph, we need to encode that.

Thoughts?

Hi @niden glad to have your reply,

Obviously, we must urlencode the query string in a url.

What I try to say is that we have a method call `withQuery` in class `Uri` blow,

https://github.com/phalcon/cphalcon/blob/4dc8ee7197086ff1ca0d6401f6a7f47de171532f/phalcon/Http/Message/Uri.zep#L346

then we see the comment in this method, it saids,

>      * Users can provide both encoded and decoded query characters.
>      * Implementations ensure the correct encoding as outlined in getQuery().

in my opinion, it means we can provide either encoded or decoded, for example,

```php
$uri = new Uri();
// now we provide no encode
$uri->withQuery("a=1&b=2&c=&d=test1,test2;testa,testb;");
echo $uri->getQuery();
// we get this, encode by urlencode
// a=1&b=2&c=&d=test1%2Ctest2%3Btesta%2Ctestb%3B
// then we provide an encoded string like this
$uri->withQuery("a=1&b=2&c=&d=test1%2Ctest2%3Btesta%2Ctestb%3B")
echo $uri->getQuery();
// we get the same encoded string
// a=1&b=2&c=&d=test1%2Ctest2%3Btesta%2Ctestb%3B
```

but in this line, it seems not like that,

https://github.com/phalcon/cphalcon/blob/4dc8ee7197086ff1ca0d6401f6a7f47de171532f/phalcon/Http/Message/Uri.zep#L576

please check this.

And forgive my bad English.

have a nice day  ; )

Blocked by https://github.com/zephir-lang/zephir/issues/2167

Transferring this to v6. PSR7 is fully implemented there